USE [PVCom]
GO
/****** Object:  StoredProcedure [dbo].[PCD_LoanReportDaily]    Script Date: 5/18/2017 8:39:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[PCD_LoanReportDaily] @DATE DATE
AS
BEGIN

	-- DECLARE @DATE DATE = '20170409' -- current data date
	-- DECLARE @DATE_0 DATE = (SELECT DATEADD(D,-1, @DATE)) -- Previous working date
	/*Note:
		- To get Loan information, we have to get data from 3 source tables:
		1) f_ld_loans_and_deposits: this table contains all loan information for all LDs in accumulation by date
		2) f_ld_loans_and_deposits_amount: amount of all LDs by date
		3) f_pd_capture: PD amount of all LD
	*/
	IF OBJECT_ID('tempdb..#TEMP') IS NOT NULL
		DROP TABLE #TEMP

PRINT('INSERT DATA INTO TEMP TABLE')
	SELECT *
	INTO #TEMP
	FROM
	(
	SELECT 
		X.CONTRACT_NO_
		, X.CUSTOMER_ID
		, 'NULL' AS CUSTOMER_GROUP
		, X.CURRENCY
		, X.CO_CODE AS BRANCH_CODE
		, V.BRANCH_NAME
		, X.VALUE_DATE
		, X.FIN_MAT_DATE AS MATURITY_DATE
		, X.COMMITMENT_NO
		, X.CATEGORY
		, DRAWDOWN_ISSUE_PRC AS PRIN_AMT
		, Y.AMOUNT AS LD_AMT
		, Z.TOTAL_OVERDUE_AMT AS PD_AMT
		, Y.AMOUNT + ISNULL(Z.TOTAL_OVERDUE_AMT, 0) AS OUSTANDING_AMT
	FROM
	(
		--DECLARE @DATE DATE = '20170410'
		SELECT CONTRACT_NO_
			, CUSTOMER_ID
			, CURRENCY 
			, CURRENCY_MARKET
			, VALUE_DATE
			, FIN_MAT_DATE
			, COMMITMENT_NO
			, CATEGORY
			, DRAWDOWN_ISSUE_PRC
			, CO_CODE
		FROM STG_T24.dbo.f_ld_loans_and_deposits
		WHERE DATA_DATETIME = @DATE
			AND CATEGORY NOT IN ('21002', '21003', '21096')
	) X 
	LEFT JOIN 
	(
		--DECLARE @DATE DATE = '20170410'
		SELECT CONTRACT_NO_
			, AMOUNT
		FROM STG_T24.dbo.f_ld_loans_and_deposits_amount
		WHERE DATA_DATETIME = @DATE
	) Y ON X.CONTRACT_NO_ = Y.CONTRACT_NO_

	LEFT JOIN 
	(
		SELECT 
			*
		FROM 
			(
				--DECLARE @DATE DATE = '20170410'
				SELECT ROW_NUMBER()
				   OVER (PARTITION BY VALUE_DATE ORDER BY VALUE_DATE) AS LAST_DATE
				, CONTRACT_NUMBER
				, CUSTOMER
				, CURRENCY
				, CURRENCY_MARKET
				, CATEGORY
				, TOTAL_OVERDUE_AMT --TOTAL_OVERDUE_AMT
				FROM STG_T24.dbo.f_pd_capture a
				WHERE DATA_DATETIME = @DATE
					AND CATEGORY NOT IN ('21002', '21003', '21096') 
			) X
		WHERE LAST_dATE = 1
	) Z ON X.CONTRACT_NO_ = Z.CONTRACT_NUMBER
	LEFT JOIN STG_T24.DBO.DIMBRANCH V ON X.CO_CODE = V.BRANCH_CODE
	WHERE Y.AMOUNT + ISNULL(TOTAL_OVERDUE_AMT,0) > 0
		AND VALUE_DATE = @DATE-- Get only LD from the previous working date
		AND V.REGION = 'HCM'
	) X

PRINT('UPDATE OUSTANDING_AMT')
	UPDATE #TEMP
	SET OUSTANDING_AMT = OUSTANDING_AMT * X.RATE
	FROM 
	(
	SELECT CURRENCY_CODE
		, IIF(CURRENCY_CODE = 'VND', 1, MID_REVAL_RATE) AS RATE
	FROM STG_T24..F_CURRENCY_CURRENCY_MARKET 
	WHERE DATA_DATETIME = @DATE
	) X
	WHERE CURRENCY = X.CURRENCY_CODE

PRINT('UPDATE CUSTOMER_GROUP')
	UPDATE A
	SET A.CUSTOMER_GROUP = C.SEGMENT
	FROM #TEMP A	
		LEFT JOIN 
			(
				SELECT CUSTOMER_CODE
					, [TARGET]
				FROM PVCom..DimCustomer
			) B ON A.CUSTOMER_ID = B.CUSTOMER_CODE
		LEFT JOIN DimSegment C ON B.TARGET = C.TARGET_CODE
	WHERE C.SEGMENT IN ('KHCN', 'KHDN')


SELECT * FROM #TEMP
WHERE CUSTOMER_GROUP IN ('KHCN', 'KHDN')

END

